<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    div {
      width: 500px;
      text-align: center;
      margin: auto;
    }

    a {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div>
    <h1 style="color: red;">
      <%- errData%>
    </h1>
    <h2>点击连接跳转到相应页面</h2>
    <h2><a href="/">返回主页</a></h2>
    <h2><a href="./login.html">返回登录</a></h2>
    <h2><a href="./register.html">返回注册</a></h2>
  </div>
</body>

</html>